*{
margin:0 ;
box-sizing: border-box;
}
.imagen{background: #B7B7B7;
	background-image: url(j.png);
    background-repeat: no-repeat;
    display: block;	
    background-size: 55%;
}

.seleccion{
	width: 100%;
	max-width: 500px;
	height: 200px;
	margin: auto;
	margin-top: 50px;

}
form {
	width: 100%;
	margin: 15px;
	padding: 20px;	
	background: rgba(255,255,255,.5); 	
	box-shadow: 0 0 10px #1172F5;	
	border-top: 2px solid #2119BA;
	border-radius: 5px; 	
	overflow: hidden;
}
form  select {
	width: 100%;
 	padding: 8px;
 	margin-bottom: 15px;
 	border-radius: 6px;
	font: 18px solid Verdana; 
	

}
p{
	display: block;
	float: right;
	padding-right:70px;
	padding-left: 100%;
	padding-top: 20px;
	color: #0B4806;
	  font-family: inherit;
	  margin-bottom: .5rem;	
	   line-height: 1.2;
}
h1{
	color: blue;
	text-align: center;
	padding: 10px;
 	color: #040202;
 	margin-bottom: .5rem;
    font-family: inherit;
 	}	
 	h2{
	padding-left: 150px ;
	color: #040202;
 	margin-bottom:.5rem;
    font-family: inherit;
 	}
form select:focus {
	border: 2px #F11A1A;
	padding: 20px;
}
form input[type="text"]{
	width: 100%;
	padding: 5px;
	font: 18px solid Verdana; 

	color: #000000;
}
form input[type="number"]{
	width: 100%;
	padding: 5px;
	font: 18px solid Verdana; 
	color: #000000;
}
form input[type="submit"]{
margin-top: 15px;
float: right;
}
form input[type="button"]{
	margin-top: 15px;
	float: right;
	margin-left: 40px;
	margin-right: 70px;
}

form a{
	text-decoration: none;
	color: black;
	background: #3DE354;;
	padding: 15px;
	float: left;
	border-radius: 3px ;
	font: 19px solid Verdana;
	display: block;
}
form a:hover{
background: #F2FA0D;
}
.botonsalir{
text-decoration: none;
text-align: center;
width: 150px;
color:#FFFFFF;
border-radius: 6px;
background:#3800F0;
padding: 20px;
overflow: hidden;
font: 16px Verdana;
position: fixed;;
margin-left: 85%;
box-shadow: 0 0 2px #000000;
}
.botonsalir:hover{
	background:	#00F892;
	color: #050000;
}
.r{
  margin: 10px;
}

