#contenedor{
	width: 1200px;
}
#izquierda{
	width: 300px;
	height: 900px;
	border: 1px solid black;
	float: left;
}
#derecha{
	text-align: center;
	width: 896px;
	height: 900px;
	float: right;
	border: 1px solid black;
}
p{
	margin-left: 30px;
	font-size: 25px;

}
img{
	width: 200px;
	height: 100px;	
	
}